*,div,a,p,span{
	margin:0;
	padding:0;
}
html{
	height:100%;
}
body{
	height:100%;
}
.slik{
    color: #fff;
    padding: .12rem 0.5rem;
    font-size: .16rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #ff3333;
    top: .18rem;
    right: -0.54rem;
    display:none;
}
img{
	width:100%;
}
.apple a{
	text-decoration:none;
	color:#fff;
	text-decoration: none;
    color: #fff;
    padding: 0.2rem 0;
}


.content p.apple{
    text-decoration: none;
    position: absolute;
    top: -2.4rem;
    width: 64%;
    color: #fff;
    background: #38b63e;
    font-size: .36rem;
    padding: .24rem 1rem;
    border-radius: 50px;
    border: 2px solid #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    padding:0;
    height:.8rem;
    box-shadow:inset 3px -2px 2px #189e1e
}
.apple img{
	width: .38rem;
    height: .48rem;
    margin: 8px;
    display: inline-block;
    margin-bottom: -4px;
}
.content{
	background-size:100% 100%;
	font-size:.28rem;
	position:relative;
}
.content p{
	padding:0 0 .3rem .8rem;
}
.content p>span{
	padding:3px .2rem; 
	background:#f9881b;
	display:inline-block;
	text-align:center;
	margin-right:.3rem;
	border-radius:5px;
	position:relative;
	color:#fff;
}
.content  p>span:after{
	content:"";
	width:6px;
	height:6px;
	z-index:2;
	transform:rotate(45deg) translateY(-50%);
	position:absolute;
	top:50%;
	right:0;
	background:#f9881b;

}
.content>p:nth-child(3)>span{
	background-color:#64c65f;
}
.content>p:nth-child(3)>span::after{
	background-color:#64c65f;
}

.content>p:nth-child(4)>span{
	background-color:#6d86c6;
}
.content>p:nth-child(4)>span::after{
	background-color:#6d86c6;
}
.content>p:nth-child(5)>span{
	background-color:#6960dd;
}
.content>p:nth-child(5)>span::after{
	background-color:#6960dd;
}

.first{
	padding-top:.42rem;
}

.content .market{
	position:relative;
	font-size:.2rem;
	padding-top:.34rem;
	box-sizing:border-box;
	margin:0 .2rem;
	border-top:1px solid #d6d6d6;
}

.market{
	padding-bottom:.36rem;
}
.content .market img{
	width:.4rem;
	height:.4rem;
}

.content .market>div{
	width:20%;
	text-align:center;
}

.content .market>div>p{
	font-size:.14rem;
	padding:0;
}

.content .market div{
	display:inline-block;

}

.first-info{
	padding-left:.5rem;
	position:relative;
}
.info{
	position:relative;
	padding-bottom:.22rem;
}
.info:before{
	content:'';
	background:url('../img/go.jpg') no-repeat;
	background-size:100% 100%;
	width:.32rem;
	height:.36rem;
	position:absolute;
	top:-2px;
	left:.4rem;

}